@model DevicesRequest.Models.Building

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 detailed alert alert-danger">
    <h3 class="centered">Building Delete</h3>
    <hr />
    <div class="col-md-4 right-divider  mt">
        <p>
            <strong>@Html.DisplayNameFor(model => model.NameEn)</strong> <br>
            @Html.DisplayFor(model => model.NameEn)
            <br>
        </p>
        <br>
        <p>
            <strong>@Html.DisplayNameFor(model => model.NameAr)</strong> <br>
            @Html.DisplayFor(model => model.NameAr)
            <br>
        </p>


    </div>
    <div class="col-md-4  mt">
        <p>
            <strong>@Html.DisplayNameFor(model => model.CreatedBy)</strong> <br>
            @Html.DisplayFor(model => model.CreatedBy)
            <br>
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong> <br>
            @Html.DisplayFor(model => model.CreatedDate)
            <br>
        </p>
        <br>
    </div>
    <div class="col-md-4  mt">
        <p>
            <strong>@Html.DisplayNameFor(model => model.LastUpdateBy)</strong> <br>
            @Html.DisplayFor(model => model.LastUpdateBy)
            <br>
        </p>
        <br />
        <p>
            <strong>@Html.DisplayNameFor(model => model.LastUpdateDate)</strong> <br>
            <b>@Html.DisplayFor(model => model.LastUpdateDate)</b>
            <br>
        </p>
    </div>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink(" ", "Index", new { id = Model.BuildingId }, new { @class = "btn btn-default btn-sm fa fa-angle-double-left tooltips", data_placement = "top", title = "Back", @style = "line-height: unset" })
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
    </div>
}