@model DevicesRequest.Models.RequestItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RequestItem</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Item.NameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Item.NameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequestStatu.NameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RequestStatu.NameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TypeOfRequest.NameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TypeOfRequest.NameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.FirstNameAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.FirstNameAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequestDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RequestDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdateBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastUpdateBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastUpdateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DirectorRecommondation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DirectorRecommondation)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RequestItemsId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
