@model DevicesRequest.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.NameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department.NameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Level.NameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Level.NameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Position.NameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position.NameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstNameAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstNameAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastNameAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastNameAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JobNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JobNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RoomNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RoomNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telephon)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telephon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserEmail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserEmail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CereatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CereatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdateBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastUpdateBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastUpdateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageJobNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImageJobNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
