@model DevicesRequest.Models.User

@{

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row panel invoice-body">

    <div class="col-md-6">
        <h2><strong>@Html.DisplayFor(model => model.FirstNameEn) @Html.DisplayFor(model => model.LastNameEn)</strong></h2>
    </div>
    <div class="col-md-6">
        <br />
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
                Assign to Role <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                @foreach (var item in ViewBag.Roles)
                {
                    <li><a href="@Url.Action("AssignRole", "UserRoles", new {idRole = item.RoleId, idUser = @Model.UserId }, Request.Url.Scheme)">@item.NameEn</a></li>
                }

            </ul>
        </div>
    </div>

    <br />
    <div class="col-lg-10 col-lg-offset-1">
        <div class="col-md-4 profile-text right-divider">
            <br />
            <h4><strong> @Html.DisplayFor(model => model.FirstNameEn) @Html.DisplayFor(model => model.LastNameEn)</strong></h4>
            <h5><strong> @Html.DisplayFor(model => model.FirstNameAr) @Html.DisplayFor(model => model.LastNameAr)</strong></h5>
            <p>
                <strong>@Html.DisplayFor(model => model.Department.NameEn)</strong> <br />
                <strong>@Html.DisplayFor(model => model.Department.NameAr)</strong> <br />
            </p>
            <p>
                <strong>@Html.DisplayFor(model => model.Position.NameEn)</strong> <br />
                <strong>@Html.DisplayFor(model => model.Position.NameAr)</strong> <br />
            </p>
            <br>
        </div>
        <div class="col-md-4 profile-text mt mb">
            <div class="right-divider hidden-sm hidden-xs">
                <h4>User Connect</h4>
                <br />
                <address>
                    Email     : <strong>@Html.DisplayFor(model => model.UserEmail)</strong><br />
                    Phone No. :  <strong>@Html.DisplayFor(model => model.Telephon)</strong><br />
                    Mobile No. :  <strong>@Html.DisplayFor(model => model.Mobile)</strong><br />

                </address>
            </div>
        </div>

        <div class="col-md-4 profile-text mt mb">
            <div class="right-divider hidden-sm hidden-xs">
                <h4>Building Details</h4>
                <br />
                <h4><strong> @Html.DisplayFor(model => model.Level.Building.NameEn) </strong></h4>
                <h5><strong> @Html.DisplayFor(model => model.Level.NameEn) </strong></h5>
                <h5><strong> @Html.DisplayFor(model => model.RoomNo) </strong></h5>
                <br>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>

