@model IEnumerable<DevicesRequest.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstNameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstNameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
